<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group2">
        <activity android:name=".RentalFormShoes"
            android:label="BOOK SHOES"/>
        <activity android:name=".RentalFormSuits"
            android:label="BOOK SUITS"/>
        <activity android:name=".PrintReceipt" />
        <activity android:name=".PrientReceiptSuits" />
        <activity android:name=".PrintReceiptShoes" />
        <activity android:name=".RentalFormDress"
            android:label="BOOK DRESS"/>
        <activity android:name=".BookNow"
            android:label="BOOK NOW"/>
        <activity android:name=".ViewShoes"
            android:label="SHOES"/>
        <activity android:name=".ViewSuit"
            android:label="SUITS"/>
        <activity android:name=".ViewDress"
            android:label="DRESS"/>
        <activity
            android:name=".MenuProfile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AboutUs"
            android:label="ABOUT US"/>
        <activity android:name=".UpdatePassword"
            android:label="CHANGE PASSWORD"/>
        <activity android:name=".UpdateProfile"
            android:label="UPDATE PROFILE"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".ForgotPassword"
            android:label="FORGOT PASSWORD"/>
        <activity android:name=".ViewProfile"
            android:label="MY PROFILE"/>
        <activity android:name=".SignUp" />
        <activity android:name=".ContactUs"
            android:label="CONTACT US"/>
        <activity android:name=".CustFeedback"
            android:label="CUSTOMER FEEDBACK"/>
        <activity android:name=".Splashscreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>