<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.group2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconfr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconfr"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group2">
        <activity android:name=".changeUsername"></activity>
        <activity android:name=".changePassword" />
        <activity android:name=".PasswordUpdated" />
        <activity android:name=".NewCredentials" />
        <activity android:name=".CodeVerify" />
        <activity android:name=".Selection" />
        <activity android:name=".SignUp" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>